<!-- footer -->
<div class="footer" style="color: white">
	<div class="container">
		<div class="row text-center text-xs-center text-sm-center text-md-left" style="padding-left:148px;">
			<div class="col-xs-12 col-sm-3 col-md-4 animated wow fadeInLeft" style="margin-bottom:10px;" data-wow-delay=".6s">
				<h3>Contact Info</h3>
				<ul style="margin-top:15px">
					<p>FandomWorld GmbH</p>
					<p>Musterstraße 13 Kempten</li>
						<li><i class="fa fa-phone"></i>+1234 567 567</li>
						<li><i class="fa fa-envelope"></i><a href="mailto:info@example.com"> info@example.com</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-4 animated wow fadeInLeft" style="margin-bottom:10px" data-wow-delay=".6s">
				<h3>Social Media</h3>
				<ul style="font-size: 25px;margin-top:15px">
					<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-4 animated wow fadeInLeft" style="margin-bottom:10px" data-wow-delay=".6s">
				<h3>Donate</h3>
				<ul style="font-size: 25px;margin-top:15px">
					<li class="list-inline-item"><a href="https://www.paypal.me/BiancaRizzoli"><i class="fa fa-paypal"></i> PayPal</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>