<div id="messages" class="text-center">
    <% Object.keys(messages).forEach(function (type) { %>
    <ul class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
        <% messages[type].forEach(function (message) { %>
        <div>
            <%= message %>
        </div>
        <% }) %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </ul>
    <% }) %>
</div>