<div id="messages" class="text-center">
    <% Object.keys(messages).forEach(function (type) { %>
    <ul class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
        <% messages[type].forEach(function (message) { %>
        <div>
            <%= message %>
        </div>
        <% }) %>
    </ul>
    <% }) %>
</div>